{% extends "/partials/base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block content %}
    {# Build course status from exams array #}
    {% set courseStatus = {} %}
    {% for exam in exams %}
        {% if exam.grade is null %}
            {% set courseStatus = courseStatus|merge({(exam.course_id): 'onbekend'}) %}
        {% elseif exam.grade < 5.5 and courseStatus[exam.course_id] != 'onbekend' %}
            {% set courseStatus = courseStatus|merge({(exam.course_id): 'nietgehaald'}) %}
        {% elseif courseStatus[exam.course_id] is not defined %}
            {% set courseStatus = courseStatus|merge({(exam.course_id): 'gehaald'}) %}
        {% endif %}
    {% endfor %}

    <section class="dashboard">
        <h1>Dashboard</h1>
        <table>
            <tr>
                <th>Blok</th>
                <th>Cursus</th>
                <th>EC</th>
                <th>Examen</th>
                <th>Cijfer</th>
            </tr>
            <tr>
                <td rowspan="3">1</td>
                <td>PCO (CU75001)</td>
                <td class="{{ courseStatus[1] ?? 'onbekend' }}">2,5</td>
                <td>Presentatie</td>
                <td class="{{ exams[0].grade is null ? 'onbekend' : (exams[0].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[0].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td>CSB (CU75002)</td>
                <td class="{{ courseStatus[2] ?? 'onbekend' }}">5</td>
                <td>Schrijftoets</td>
                <td class="{{ exams[1].grade is null ? 'onbekend' : (exams[1].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[1].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td>PBA (CU75003)</td>
                <td class="{{ courseStatus[3] ?? 'onbekend' }}">5</td>
                <td>Programmeertoets</td>
                <td class="{{ exams[2].grade is null ? 'onbekend' : (exams[2].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[2].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td rowspan="2">2</td>
                <td rowspan="2">OOP</td>
                <td class="{{ courseStatus[4] ?? 'onbekend' }}" rowspan="2">10</td>
                <td>Presentatie</td>
                <td class="{{ exams[3].grade is null ? 'onbekend' : (exams[3].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[3].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td>Schrijftoets</td>
                <td class="{{ exams[4].grade is null ? 'onbekend' : (exams[4].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[4].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td rowspan="4">3</td>
                <td rowspan="3">Framework Project 1 (CU75080)</td>
                <td class="{{ courseStatus[5] ?? 'onbekend' }}" rowspan="3">10</td>
                <td>Schrijftoets</td>
                <td class="{{ exams[5].grade is null ? 'onbekend' : (exams[5].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[5].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td>Presentatie (groep)</td>
                <td class="{{ exams[6].grade is null ? 'onbekend' : (exams[6].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[6].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td>Portofolio</td>
                <td class="{{ exams[7].grade is null ? 'onbekend' : (exams[7].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[7].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td rowspan="2">Business Understanding Basics (CU75081)</td>
                <td class="{{ courseStatus[6] ?? 'onbekend' }}" rowspan="2">2.5</td>
                <td rowspan="2">Opdracht</td>
                <td class="{{ exams[8].grade is null ? 'onbekend' : (exams[8].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[8].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td rowspan="4">4</td>
                <td class="{{ exams[9].grade is null ? 'onbekend' : (exams[9].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[9].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td rowspan="3">Framework Project 2 (CU75011)</td>
                <td class="{{ courseStatus[7] ?? 'onbekend' }}" rowspan="3">10</td>
                <td>Presentatie</td>
                <td class="{{ exams[10].grade is null ? 'onbekend' : (exams[10].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[10].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td>Portfolio</td>
                <td class="{{ exams[11].grade is null ? 'onbekend' : (exams[11].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[11].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td>Portfolio</td>
                <td class="{{ exams[12].grade is null ? 'onbekend' : (exams[12].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[12].grade ?? 'N.V.T' }}</td>
            </tr>
            <tr>
                <td>1-4</td>
                <td>PPD-E (CU75068)</td>
                <td class="{{ courseStatus[8] ?? 'onbekend' }}">12.5</td>
                <td>Interview</td>
                <td class="{{ exams[13].grade is null ? 'onbekend' : (exams[13].grade >= 5.5 ? 'gehaald' : 'nietgehaald') }}">{{ exams[13].grade ?? 'N.V.T' }}</td>
            </tr>
        </table>

        <progress value="60" max="60"></progress>
    </section>

    <div class="edit-grades-button">
        <a href="/dashboard/edit">Pas cijfers aan</a>
    </div>
{% endblock %}