{% extends "/partials/base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/blog.css">
{% endblock %}

{% block content %}
    <div class="blog-posts content custom-scrollbar">

        {% for blog in blogs %}
            <a href="/blogs/{{ blog.id }}">
                <article class="blogbox">
                    <p class="titel">{{ blog.title }}</p>
                    <img class="blog-pic"
                         src="{{ blog.image }}"
                         alt="{{ blog.title }}">
                    <p>{{ blog.summary }}</p>
                </article>
            </a>
        {% else %}
            <p class="geen-blogs">Geen blogs gezien, maak een nieuwe blog</p>
        {% endfor %}

    </div>

    <div class="new-blog-button">
        <a href="/blog/create">+ Nieuw blog</a>
    </div>
{% endblock %}